In [1]:
import pandas as pd
from google.colab import files

In [2]:
file_path='/content/studentDetails (Responses) - Form responses 1.csv'

In [3]:
df=pd.read_csv(file_path)
df

,Timestamp,name,rollNo,year,department,section,subjectCodes
0,21/04/2022 08:53:18,dthd,20bcs001,2,CSE,A,"19ABCD123-english, 19EFG456-tamil, 19HIJ789-ma..."
1,21/04/2022 08:56:30,tgr,20bit002,2,IT,A,"19HIJ789-maths, 19KLM012-pce, 19NOP345-pis"
2,21/04/2022 08:56:55,dgs,20ece003,2,ECE,A,"19NOP345-pis, 19QRST678-engineering drawing, 1..."
3,21/04/2022 08:57:12,thryt,20eee004,2,EEE,A,"19QRST678-engineering drawing, 19UVW901-uhv, 1..."
4,21/04/2022 08:57:39,kjyry,20bau005,2,AUTO,A,"19ABCD123-english, 19HIJ789-maths, 19NOP345-pis"
...,...,...,...,...,...,...,...
94,21/04/2022 08:59:23,hjg,20bai0095,4,AI & DS,B,"19EFG456-tamil, 19KLM012-pce, 19NOP345-pis, 19..."
95,21/04/2022 08:59:23,hjg,20bai0096,1,AI & DS,A,"19EFG456-tamil, 19KLM012-pce, 19NOP345-pis, 19..."
96,21/04/2022 08:59:23,hjg,20bai0097,2,AI & DS,A,"19EFG456-tamil, 19KLM012-pce, 19NOP345-pis, 19..."
97,21/04/2022 08:59:23,hjg,20bai0098,3,AI & DS,B,"19EFG456-tamil, 19KLM012-pce, 19NOP345-pis, 19..."
98,21/04/2022 08:59:23,hjg,20bai0099,4,AI & DS,A,"19EFG456-tamil, 19KLM012-pce, 19NOP345-pis, 19..."

In [4]:
df.dtypes

Timestamp       object
name            object
rollNo          object
year             int64
department      object
section         object
subjectCodes    object
dtype: object

In [5]:
#seggregating the subject codes of each student into an separate item
codeList=df['subjectCodes'].unique().tolist()
codeListSplit=[]
for i in codeList:
  j=i.split(',')
  for a in j:
    codeListSplit.append(a)

In [6]:
#to find the unique different elements of an list - to find The different subject codes
def uniqueElementsInList(list1):
    unique_list = []
    a=0
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    return unique_list

In [7]:
print('The different subject codes are : ',uniqueElementsInList(codeListSplit))

The different subject codes are :  ['19ABCD123-english', ' 19EFG456-tamil', ' 19HIJ789-maths', ' 19KLM012-pce', '19HIJ789-maths', ' 19NOP345-pis', '19NOP345-pis', ' 19QRST678-engineering drawing', ' 19UVW901-uhv', '19QRST678-engineering drawing', ' 19XYZ234-cs', '19EFG456-tamil', '19KLM012-pce']

In [8]:
#creating different dataframes for different year students
uniqueYears=df['year'].unique()
print(uniqueYears)

[2 1 3 4]

In [9]:
d_cse=pd.DataFrame(columns=df.columns.tolist())
d_it=pd.DataFrame(columns=df.columns.tolist())
d_eee=pd.DataFrame(columns=df.columns.tolist())
d_ece=pd.DataFrame(columns=df.columns.tolist())
d_mec=pd.DataFrame(columns=df.columns.tolist())
d_civ=pd.DataFrame(columns=df.columns.tolist())
d_auto=pd.DataFrame(columns=df.columns.tolist())
d_ai=pd.DataFrame(columns=df.columns.tolist())


df_1=pd.DataFrame(columns=df.columns.tolist())
df_2=pd.DataFrame(columns=df.columns.tolist())
df_3=pd.DataFrame(columns=df.columns.tolist())
df_4=pd.DataFrame(columns=df.columns.tolist())

In [10]:
#separating the students department wise
for index, row in df.iterrows():
  #print(row)
  if df.loc[index,'department']=='CSE':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_cse=d_cse.append(df_data,ignore_index = True)
    d_cse.to_csv(r'd_cse.csv', index = False)

  if df.loc[index,'department']=='IT':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_it=d_it.append(df_data,ignore_index = True)
    d_it.to_csv(r'd_it.csv', index = False)

  if df.loc[index,'department']=='EEE':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_eee=d_eee.append(df_data,ignore_index = True)
    d_eee.to_csv(r'd_eee.csv', index = False)

  if df.loc[index,'department']=='ECE':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_ece=d_ece.append(df_data,ignore_index = True)
    d_ece.to_csv(r'd_ece.csv', index = False)

  if df.loc[index,'department']=='MECH':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_mec=d_mec.append(df_data,ignore_index = True)
    d_mec.to_csv(r'd_mec.csv', index = False)

  if df.loc[index,'department']=='CIVIL':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_civ=d_civ.append(df_data,ignore_index = True)
    d_civ.to_csv(r'd_civ.csv', index = False)

  if df.loc[index,'department']=='AUTO':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_auto=d_auto.append(df_data,ignore_index = True)
    d_auto.to_csv(r'd_auto.csv', index = False)

  if df.loc[index,'department']=='AI & DS':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    d_ai=d_ai.append(df_data,ignore_index = True)
    d_ai.to_csv(r'd_ai.csv', index = False)

  df_data.drop(0,inplace=True,axis=0)

In [25]:
#trying cell
d_cse=pd.DataFrame(columns=df.columns.tolist())
d_it=pd.DataFrame(columns=df.columns.tolist())
d_eee=pd.DataFrame(columns=df.columns.tolist())
d_ece=pd.DataFrame(columns=df.columns.tolist())
d_mec=pd.DataFrame(columns=df.columns.tolist())
d_civ=pd.DataFrame(columns=df.columns.tolist())
d_auto=pd.DataFrame(columns=df.columns.tolist())
d_ai=pd.DataFrame(columns=df.columns.tolist())
 
df_1=pd.DataFrame(columns=df.columns.tolist())
df_2=pd.DataFrame(columns=df.columns.tolist())
df_3=pd.DataFrame(columns=df.columns.tolist())
df_4=pd.DataFrame(columns=df.columns.tolist())
 
#######################################################################
def deptYear(df):
 for index, row in df.iterrows():
   #print(row)
   if df.loc[index,'year']=='1':
     data=df.iloc[index].values.tolist()
     df_data=pd.DataFrame([data],columns = df.columns.tolist())
     df_1=df_1.append(df_data,ignore_index = True)
     print(df_1)
 name='d_1_'+ df.loc[index,'department']
 fname='name'+'.csv'
 #df_1.to_csv(fname, index = False)
 df_data.drop(0,inplace=True,axis=0)
  
 for index, row in df.iterrows():
   if df.loc[index,'year']=='2':
     data=df.iloc[index].values.tolist()
     df_data=pd.DataFrame([data],columns = df.columns.tolist())
     df_2=df_2.append(df_data,ignore_index = True)
 name='d_2_'+df.loc[index,'department']
 fname='name'+'.csv'
 df_2.to_csv(fname, index = False)
 df_data.drop(0,inplace=True,axis=0)
 
 for index, row in df.iterrows():
   if df.loc[index,'year']=='3':
     data=df.iloc[index].values.tolist()
     df_data=pd.DataFrame([data],columns = df.columns.tolist())
     df_3=df_3.append(df_data,ignore_index = True)
 name='d_3_'+df.loc[index,'department']
 fname='name'+'.csv'
 df_3.to_csv(fname, index = False)
 df_data.drop(0,inplace=True,axis=0)
 
 for index, row in df.iterrows():
   if df.loc[index,'year']=='4':
     data=df.iloc[index].values.tolist()
     df_data=pd.DataFrame([data],columns = df.columns.tolist())
     df_4=df_4.append(df_data,ignore_index = True)
 name='d_4_'+df.loc[index,'department']
 fname='name'+'.csv'
 df_4.to_csv(fname, index = False)
 df_data.drop(0,inplace=True,axis=0)
 
#######################################################################
 
#separating the students department wise
for index, row in df.iterrows():
 #print(row)
 if df.loc[index,'department']=='CSE':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_cse=d_cse.append(df_data,ignore_index = True)
   #d_cse.to_csv(r'd_cse.csv', index = False)
   deptYear(d_cse)
 
 if df.loc[index,'department']=='IT':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_it=d_it.append(df_data,ignore_index = True)
   #d_it.to_csv(r'd_it.csv', index = False)
   deptYear(d_it)
 
 if df.loc[index,'department']=='EEE':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_eee=d_eee.append(df_data,ignore_index = True)
   #d_eee.to_csv(r'd_eee.csv', index = False)
   deptYear(d_eee)
 
 
 if df.loc[index,'department']=='ECE':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_ece=d_ece.append(df_data,ignore_index = True)
   #d_ece.to_csv(r'd_ece.csv', index = False)
   deptYear(d_ece)
 
 if df.loc[index,'department']=='MECH':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_mec=d_mec.append(df_data,ignore_index = True)
   #d_mec.to_csv(r'd_mec.csv', index = False)
   deptYear(d_mec)
 
 if df.loc[index,'department']=='CIVIL':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_civ=d_civ.append(df_data,ignore_index = True)
   #d_civ.to_csv(r'd_civ.csv', index = False)
   deptYear(d_civ)
 
 if df.loc[index,'department']=='AUTO':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_auto=d_auto.append(df_data,ignore_index = True)
   #d_auto.to_csv(r'd_auto.csv', index = False)
   deptYear(d_auto)
 
 if df.loc[index,'department']=='AI & DS':
   data=df.iloc[index].values.tolist()
   df_data=pd.DataFrame([data],columns = df.columns.tolist())
   d_ai=d_ai.append(df_data,ignore_index = True)
   #d_ai.to_csv(r'd_ai.csv', index = False)
   deptYear(d_ai)

UnboundLocalError: ignored

In [12]:
#creating separate dataframes for all the years
for index, row in df.iterrows():
  #print(row)
  if df.loc[index,'year']=='1':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    df_1=df_1.append(df_data,ignore_index = True)
  if df.loc[index,'year']=='2':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    df_2=df_2.append(df_data,ignore_index = True)
  if df.loc[index,'year']=='3':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    df_3=df_3.append(df_data,ignore_index = True)
  if df.loc[index,'year']=='4':
    data=df.iloc[index].values.tolist()
    df_data=pd.DataFrame([data],columns = df.columns.tolist())
    df_4=df_4.append(df_data,ignore_index = True)
  #df_data.drop(0,inplace=True,axis=0)

# Admin

In [13]:
ncse=d_cse.shape[0]
nit=d_it.shape[0]
nece=d_ece.shape[0]
neee=d_eee.shape[0]
nauto=d_auto.shape[0]
nmech=d_mec.shape[0]
nai=d_ai.shape[0]
nciv=d_civ.shape[0]

In [14]:
ndept=int(input("Enter no.of.depts writing exam : "))

Enter no.of.depts writing exam : 3

In [15]:
nhall=int(input("No.of.halls allocated for exam : "))

No.of.halls allocated for exam : 2

In [16]:
nseat=nhall*36
print('No.of.seats available for the exam : ',nseat)

No.of.seats available for the exam :  72

In [17]:
print('Select the departments that are writing exam (type the dept number one by one) \n1.CSE\n2.IT\n3.ECE\n4.EEE\n5.AI&DS\n6.AUTO\n7.CIVIL\n8.MECH :\n')
x=0
for i in range(1,ndept+1):
  dept=int(input())
  if dept==1:
    x+=ncse
  if dept==2:
    x+=nit
  if dept==3:
    x+=nece
  if dept==4:
    x+=neee
  if dept==5:
    x+=nai
  if dept==6:
    x+=nauto
  if dept==7:
    x+=nciv
  if dept==8:
    x+=nmech
print('No.of.students writing exam are : ',x)

Select the departments that are writing exam (type the dept number one by one)
1.CSE
2.IT
3.ECE
4.EEE
5.AI&DS
6.AUTO
7.CIVIL
8.MECH :

1
2
3
No.of.students writing exam are :  41

In [18]:
if x>nseat : 
  print('No.of.seats available is lesser than no.of.students writing exam')

In [19]:
df_ai=pd.read_csv('/content/d_ai.csv')
df_auto=pd.read_csv('/content/d_auto.csv')
df_civ=pd.read_csv('/content/d_civ.csv')
df_cse=pd.read_csv('/content/d_cse.csv')
df_ece=pd.read_csv('/content/d_ece.csv')
df_eee=pd.read_csv('/content/d_eee.csv')
df_it=pd.read_csv('/content/d_it.csv')
df_mec=pd.read_csv('/content/d_mec.csv')


l_ai=df_ai['rollNo'].tolist()
l_auto=df_auto['rollNo'].tolist()
l_civ=df_civ['rollNo'].tolist()
l_cse=df_cse['rollNo'].tolist()
l_ece=df_ece['rollNo'].tolist()
l_eee=df_eee['rollNo'].tolist()
l_it=df_it['rollNo'].tolist()
l_mec=df_mec['rollNo'].tolist()
l=df['rollNo'].tolist()

In [21]:
#bench arrangement - assume there are 18 bench - 36 per hall
def allocate(l):
  i=1
  xyz=36
  for x in range(1,nhall+1):
    print('Hall : ',x)
    while(True):
      if i<len(l)-1:
        if i%6==0:
          print(i,'-',l[i+1],'      ')
          print('\n')
        else:
          print(i,'-',l[i+1],'      ',end='')
        if i==xyz:
          xyz+=xyz
          break
      else:
        break
      i+=1
    print('-----------------------------')

allocate(l)